<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.agiliz.roonga.testcases.LaunchAdoptionDrive</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>launchNewDriveTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>nonProfitLoginTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>driveDetailsWizard</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>donorGuidelinesWizard</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>driveActiveStatusTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>previewAdoptionDriveWizard</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>profileSubmittersWizard</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>initializeDriver</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeMethodTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
</table>
