<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f4a68b">  <td>18/07/13 16:42:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethodTest()[pri:0, instance:com.agiliz.roonga.testcases.LaunchAdoptionDrive@59fd97a8]">&gt;&gt;beforeMethodTest</td> 
<td>&nbsp;</td>  <td>main@609962972</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>18/07/13 16:42:46</td>   <td>26052</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethodTest()[pri:0, instance:com.agiliz.roonga.testcases.LaunchAdoptionDrive@59fd97a8]">&gt;&gt;beforeMethodTest</td> 
<td>&nbsp;</td>  <td>main@609962972</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>18/07/13 16:43:07</td>   <td>47022</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethodTest()[pri:0, instance:com.agiliz.roonga.testcases.LaunchAdoptionDrive@59fd97a8]">&gt;&gt;beforeMethodTest</td> 
<td>&nbsp;</td>  <td>main@609962972</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>18/07/13 16:43:41</td>   <td>81666</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethodTest()[pri:0, instance:com.agiliz.roonga.testcases.LaunchAdoptionDrive@59fd97a8]">&gt;&gt;beforeMethodTest</td> 
<td>&nbsp;</td>  <td>main@609962972</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>18/07/13 16:43:49</td>   <td>88902</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethodTest()[pri:0, instance:com.agiliz.roonga.testcases.LaunchAdoptionDrive@59fd97a8]">&gt;&gt;beforeMethodTest</td> 
<td>&nbsp;</td>  <td>main@609962972</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>18/07/13 16:43:50</td>   <td>90488</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethodTest()[pri:0, instance:com.agiliz.roonga.testcases.LaunchAdoptionDrive@59fd97a8]">&gt;&gt;beforeMethodTest</td> 
<td>&nbsp;</td>  <td>main@609962972</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>18/07/13 16:44:01</td>   <td>101674</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethodTest()[pri:0, instance:com.agiliz.roonga.testcases.LaunchAdoptionDrive@59fd97a8]">&gt;&gt;beforeMethodTest</td> 
<td>&nbsp;</td>  <td>main@609962972</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/07/13 16:43:49</td>   <td>88904</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LaunchAdoptionDrive.donorGuidelinesWizard()[pri:0, instance:com.agiliz.roonga.testcases.LaunchAdoptionDrive@59fd97a8]">donorGuidelinesWizard</td> 
  <td>main@609962972</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/07/13 16:44:01</td>   <td>101676</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LaunchAdoptionDrive.driveActiveStatusTest()[pri:0, instance:com.agiliz.roonga.testcases.LaunchAdoptionDrive@59fd97a8]">driveActiveStatusTest</td> 
  <td>main@609962972</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/07/13 16:43:07</td>   <td>47025</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LaunchAdoptionDrive.driveDetailsWizard()[pri:0, instance:com.agiliz.roonga.testcases.LaunchAdoptionDrive@59fd97a8]">driveDetailsWizard</td> 
  <td>main@609962972</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>18/07/13 16:41:57</td>   <td>-22809</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.initializeDriver()[pri:0, instance:com.agiliz.roonga.testcases.LaunchAdoptionDrive@59fd97a8]">&gt;&gt;initializeDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@609962972</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/07/13 16:42:46</td>   <td>26056</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LaunchAdoptionDrive.launchNewDriveTest()[pri:0, instance:com.agiliz.roonga.testcases.LaunchAdoptionDrive@59fd97a8]">launchNewDriveTest</td> 
  <td>main@609962972</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/07/13 16:42:20</td>   <td>39</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LaunchAdoptionDrive.nonProfitLoginTest()[pri:0, instance:com.agiliz.roonga.testcases.LaunchAdoptionDrive@59fd97a8]">nonProfitLoginTest</td> 
  <td>main@609962972</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/07/13 16:43:50</td>   <td>90490</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LaunchAdoptionDrive.previewAdoptionDriveWizard()[pri:0, instance:com.agiliz.roonga.testcases.LaunchAdoptionDrive@59fd97a8]">previewAdoptionDriveWizard</td> 
  <td>main@609962972</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/07/13 16:43:41</td>   <td>81668</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LaunchAdoptionDrive.profileSubmittersWizard()[pri:0, instance:com.agiliz.roonga.testcases.LaunchAdoptionDrive@59fd97a8]">profileSubmittersWizard</td> 
  <td>main@609962972</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>18/07/13 16:44:03</td>   <td>103301</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.agiliz.roonga.testcases.LaunchAdoptionDrive@59fd97a8]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@609962972</td>   <td></td> </tr>
</table>
