<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="82f6ef">  <td>18/07/06 12:10:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethodTest()[pri:0, instance:com.agiliz.roonga.testcases.LaunchAdoptionDrive@123ef382]">&gt;&gt;beforeMethodTest</td> 
<td>&nbsp;</td>  <td>main@1818544933</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>18/07/06 12:11:11</td>   <td>36360</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethodTest()[pri:0, instance:com.agiliz.roonga.testcases.LaunchAdoptionDrive@123ef382]">&gt;&gt;beforeMethodTest</td> 
<td>&nbsp;</td>  <td>main@1818544933</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>18/07/06 12:11:45</td>   <td>70141</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethodTest()[pri:0, instance:com.agiliz.roonga.testcases.LaunchAdoptionDrive@123ef382]">&gt;&gt;beforeMethodTest</td> 
<td>&nbsp;</td>  <td>main@1818544933</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>18/07/06 12:11:11</td>   <td>36363</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LaunchAdoptionDrive.driveDetailsWizard()[pri:0, instance:com.agiliz.roonga.testcases.LaunchAdoptionDrive@123ef382]">driveDetailsWizard</td> 
  <td>main@1818544933</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>18/07/06 12:10:15</td>   <td>-19938</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.initializeDriver()[pri:0, instance:com.agiliz.roonga.testcases.LaunchAdoptionDrive@123ef382]">&gt;&gt;initializeDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1818544933</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>18/07/06 12:10:35</td>   <td>26</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LaunchAdoptionDrive.nonProfitLoginTest()[pri:0, instance:com.agiliz.roonga.testcases.LaunchAdoptionDrive@123ef382]">nonProfitLoginTest</td> 
  <td>main@1818544933</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>18/07/06 12:11:45</td>   <td>70143</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LaunchAdoptionDrive.profileSubmittersWizard()[pri:0, instance:com.agiliz.roonga.testcases.LaunchAdoptionDrive@123ef382]">profileSubmittersWizard</td> 
  <td>main@1818544933</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>18/07/06 12:11:46</td>   <td>71193</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.agiliz.roonga.testcases.LaunchAdoptionDrive@123ef382]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1818544933</td>   <td></td> </tr>
</table>
